




@media (max-width: 600px) {

    body {
        background-color: pink;
    }

    .navbar-toggler {
    background: none;
    border: none;
    font-size: 26px;
}

.message-box input {
    width: 300px;
    height: 40px;
    padding-left: 20px;
}

.message-box input:hover {
    border: none;
    outline: none;
}

.message-box button {
    width: 70px;
    height: 40px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    
}

.message-box button:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
}